<?xml version="1.0" encoding="UTF-8"?>
<!--http://javasampleapproach.com/java-integration/configure-apache-log4j2-spring-boot-->
<Configuration monitorInterval="60">
    <Properties>
        <Property name="path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </Console>
        <File name="App-Appender" fileName="${path}/malihehs_logging.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>
        <File name="SpringBoot-Appender" fileName="${path}/springboot_log.log">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref="Console-Appender" />
        </Root>
        <Logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="SpringBoot-Appender" />
            <AppenderRef ref="Console-Appender" />
        </Logger>
        <!--        <Logger name="hello" level="info"
                additivity="false">
            <AppenderRef ref="App-Appender" />
            <AppenderRef ref="Console-Appender" />
        </Logger>-->
        <Logger name="hello" level="info"
                additivity="false">
            <AppenderRef ref="App-Appender" />
            <!--<AppenderRef ref="Console-Appender" />--> <!-- by removing this, logger will only write to file and not to console -->
        </Logger>
        
    </Loggers>
</Configuration>